In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

required_url = "https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day24-standardization/Social_Network_Ads.csv"

In [3]:
data = pd.read_csv(required_url)

In [4]:
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

### For this exercise we are removing categorical data and User ID

In [5]:
data = data.iloc[:,2:5]

In [6]:
data

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

## Train Test Split

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(data.drop("Purchased", axis = 1),data["Purchased"], test_size = 0.3, 
                                                    random_state = 0)

## Why do we need to use random state in train_test_ssplit?

random_state is basically used for reproducing your problem the same every time it is run. If you do not use a random_state in train_test_split, every time you make the split you might get a different set of train and test data points and will not help you in debugging in case you get an issue.

In [21]:
Y_train

92     0
223    1
234    0
232    1
377    0
      ..
323    1
192    0
117    0
47     0
172    0
Name: Purchased, Length: 280, dtype: int64

## StandardScaler

In [22]:
from sklearn.preprocessing import StandardScaler
# The for mula which we are using over hear is that of z Normalization

scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [24]:
X_test_scaled

array([[-0.77101313,  0.49720103],
       [ 0.0133054 , -0.57280368],
       [-0.28081405,  0.15017248],
       [-0.77101313,  0.26584866],
       [-0.28081405, -0.57280368],
       [-1.06513258, -1.44037507],
       [-0.67297331, -1.5849703 ],
       [-0.18277423,  2.14558666],
       [-1.94749093, -0.05226085],
       [ 0.89566375, -0.775237  ],
       [-0.77101313, -0.60172273],
       [-0.96709276, -0.42820845],
       [-0.08473441, -0.42820845],
       [ 0.11134522,  0.20801057],
       [-1.7514113 ,  0.46828198],
       [-0.5749335 ,  1.36477242],
       [-0.08473441,  0.20801057],
       [-1.84945111,  0.43936294],
       [ 1.67998229,  1.74072002],
       [-0.28081405, -1.38253697],
       [-0.28081405, -0.65956082],
       [ 0.89566375,  2.14558666],
       [ 0.30742485, -0.54388463],
       [ 0.89566375,  1.01774386],
       [-1.45729185, -1.2090227 ],
       [ 1.09174339,  2.05882953],
       [-0.96709276,  0.49720103],
       [-0.86905295,  0.29476771],
       [-0.08473441, -0.22577513],
       [-0.5749335 ,  0.46828198],
       [-1.65337148,  0.52612008],
       [-0.08473441,  0.26584866],
       [ 1.87606192, -0.28361322],
       [-0.08473441, -0.48604654],
       [-1.35925203, -0.34145131],
       [-1.94749093, -0.51496559],
       [-1.55533166,  0.32368675],
       [-0.37885386, -0.775237  ],
       [-0.67297331, -1.03550842],
       [ 1.09174339, -0.97767033],
       [-1.06513258,  0.52612008],
       [ 0.30742485, -0.51496559],
       [-1.06513258,  0.41044389],
       [-0.28081405, -1.44037507],
       [ 0.50350449,  1.22017719],
       [-1.06513258, -0.34145131],
       [-0.08473441,  0.29476771],
       [ 1.38586284,  0.58395817],
       [-1.1631724 , -1.1511846 ],
       [ 1.09174339,  0.46828198],
       [ 1.87606192,  1.50936765],
       [-0.37885386, -1.29577984],
       [-0.28081405, -0.37037036],
       [-0.37885386,  1.30693432],
       [ 2.07214155,  0.52612008],
       [ 0.69958412, -1.09334651],
       [-0.86905295,  0.38152485],
       [-1.1631724 ,  0.29476771],
       [ 1.09174339, -1.2090227 ],
       [-1.45729185, -1.44037507],
       [-0.5749335 , -1.49821316],
       [ 2.17018137, -0.80415605],
       [-1.84945111,  0.17909152],
       [-0.18277423,  0.84422958],
       [-1.84945111, -1.26686079],
       [ 2.17018137,  0.38152485],
       [-1.35925203,  0.55503912],
       [-1.06513258, -0.34145131],
       [ 0.20938504, -0.65956082],
       [ 0.40546467,  0.00557724],
       [-0.5749335 ,  2.31910094],
       [-0.28081405,  0.20801057],
       [-1.55533166, -0.19685608],
       [ 0.69958412, -1.38253697],
       [-1.06513258,  0.55503912],
       [-1.94749093,  0.3526058 ],
       [ 0.40546467,  0.26584866],
       [ 0.20938504, -0.28361322],
       [ 1.48390265, -1.03550842],
       [ 0.89566375,  1.07558195],
       [ 1.97410174,  2.14558666],
       [ 2.07214155,  0.38152485],
       [-1.35925203, -0.42820845],
       [-1.1631724 , -1.00658937],
       [ 1.97410174, -0.91983223],
       [ 0.40546467,  0.29476771],
       [ 0.20938504,  0.15017248],
       [ 2.07214155,  1.74072002],
       [ 0.79762394, -0.8330751 ],
       [ 0.30742485, -0.28361322],
       [ 0.40546467, -0.16793703],
       [-0.08473441,  2.20342476],
       [-1.45729185, -0.63064177],
       [-1.26121221, -1.06442747],
       [-1.35925203,  0.41044389],
       [-1.06513258,  0.75747245],
       [-1.45729185, -0.19685608],
       [ 0.99370357, -1.06442747],
       [ 0.99370357,  0.58395817],
       [ 0.40546467,  0.98882482],
       [ 0.6015443 , -0.89091319],
       [-0.5749335 ,  1.45152956],
       [ 0.0133054 , -0.57280368],
       [-0.5749335 ,  1.88531525],
       [ 1.38586284, -1.41145602],
       [ 1.48390265,  0.98882482],
       [ 0.11134522, -0.80415605],
       [ 0.0133054 , -0.25469417],
       [-0.18277423, -0.57280368],
       [-0.18277423, -0.19685608],
       [-0.28081405, -1.29577984],
       [-0.28081405, -0.57280368],
       [ 0.40546467,  0.09233438],
       [ 0.89566375, -0.60172273],
       [ 2.07214155, -1.18010365],
       [ 1.09174339, -0.13901799],
       [ 0.69958412,  1.76963906],
       [-0.67297331,  0.55503912],
       [ 0.79762394,  0.3526058 ],
       [ 0.89566375, -0.54388463]])

In [25]:
scaler.mean_

array([3.78642857e+01, 6.98071429e+04])

### Since the datasets returned after scaling are numpy arrays so we have to convert them into Pandas dataframes

In [30]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns = X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, column = X_test.columns)

TypeError: __init__() got an unexpected keyword argument 'column'